html {
    font-family: 'Poiret One', cursive;
    text-align: center;
}

h1 {
    font-size: 100px;
}

body {
    background-color: grey;
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding: 20px;
    width: 300px;
    height: 40px;
    font-size: 20px;
    border: 0;
}

input:focus {
	outline: none;
}

ul {
    list-style-type: none;
}

li {
	text-align: left;
	font-size: 20px;
	list-style: none;
	margin: 0;
}

button.toggle-complete:hover {
    text-shadow: 1px 0 0 currentColor;
    background: green;
}

button.delete:hover {
    text-shadow: 1px 0 currentColor;
    background: red;
}

li.completed span {
    text-decoration: line-through;
}

#list button {
    float: right;
}